# 데이터 과학의 문법

변수 : 데이터 저장 공간

데이터형

- 숫자형, 문자형, 범주형, 논리형, 특수 상수 등

# 변수

## 변수에 값을 저장하기 ( <- = -> 사용 가능)

In [2]:
x <- 3
y <- 4

In [3]:
z <- x + y
z

[1] 7

In [4]:
x + y -> z
z

[1] 7

In [6]:
z = x + y
z

[1] 7

In [8]:
x + y = z # 불가능

ERROR: Error in x + y = z: 함수 "+<-"를 찾을 수 없습니다

## 두 값을 교환하는 예제

In [14]:
x = 1
y = 2
temp = x
x = y
y = temp

cat(x, y)

2 1

# 데이터형

## 데이터형 연산

In [17]:
# 정수연산
x = 5
y = 2
x/y

[1] 2.5

In [40]:
# 복소수 연산
xi = 1 + 2i
yi = 1 - 2i
xi+yi

[1] 2+0i

In [41]:
str = "Hello, World!"
str

[1] "Hello, World!"

In [42]:
# R 변수명에서는 _와 .을 사용할 수 있다.
# factor : 범주형 변수라는 사실을 저장
blood.type = factor(c("A","B","B","AB"))
blood.type

[1] A  B  B  AB
Levels: A AB B

※ 단, 변수명은 숫자 또는 _로 시작할 수 없다.

In [43]:
T

[1] TRUE

In [44]:
F

[1] FALSE

In [45]:
xinf = Inf
yinf = -Inf
xinf/yinf # infty / infty -> Not A Number (NaN)

[1] NaN

## 데이터 확인 및 변환

In [46]:
print(class(1))
print(typeof(1))

print(is.integer(1))

[1] "numeric"
[1] "double"
[1] FALSE

In [47]:
as.integer('1')

[1] 1

# 연산

In [48]:
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)

[1] 7
[1] 3
[1] 10
[1] 2.5

In [49]:
print(5 < 2)
print(5 > 2)
print(5 == 2)
print(5 != 2)

[1] FALSE
[1] TRUE
[1] FALSE
[1] TRUE

In [50]:
print(!T)
print(1 < 0 & 2 < 5)
print(1 < 0 | 2 < 5)

[1] FALSE
[1] FALSE
[1] TRUE

## 연산자 우선순위

# 벡터

## 벡터 생성

### :, c 사용

In [57]:
print(1:7)

[1] 1 2 3 4 5 6 7

In [58]:
print(7:1)

[1] 7 6 5 4 3 2 1

In [56]:
# 빈벡터 생성
vector(length = 5)

[1] FALSE FALSE FALSE FALSE FALSE

In [62]:
print(c(1,2,3,c(4:6)))

[1] 1 2 3 4 5 6

In [65]:
y = c()
y = c(y, c(1:3))
y

[1] 1 2 3

### seq사용

In [72]:
print(seq(from=1, to=10, by=2))

[1] 1 3 5 7 9

In [73]:
print(seq(0,1,0.1))

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [75]:
# 출력갯수에 맞게 알아서 간격 계산
print(seq(0,1,length.out = 10))

 [1] 0.0000000 0.1111111 0.2222222 0.3333333 0.4444444 0.5555556 0.6666667
 [8] 0.7777778 0.8888889 1.0000000

###  rep 함수

In [81]:
# 전체 반복
print(rep(c(1:3), times=2))

[1] 1 2 3 1 2 3

In [82]:
# 요소별 반복
print(rep(c(1:3), each=2))

[1] 1 1 2 2 3 3

## 벡터 연산

### 인덱싱

In [83]:
x = c(2,4,6,8,10)

In [85]:
length(x)

[1] 5

In [86]:
x[1]

[1] 2

In [91]:
x[1,2,3] # error

ERROR: Error in x[1, 2, 3]: incorrect number of dimensions

In [92]:
# 다중 인덱싱
print(x[c(1,2,3)])

[1] 2 4 6

In [95]:
# 제외 인덱싱
print(x[-c(1,2,3)])

[1]  8 10

In [96]:
print(x[c(1:3)])

[1] 2 4 6

### 벡터 간 연산

In [97]:
x = c(1,2,3,4)
y = c(5,6,7,8)
z = c(3,4)
w = c(5,6,7)

In [100]:
# 각 요소에 +2
print(x + 2)

[1] 3 4 5 6

In [103]:
# 각 요소간 합
print(x + y)

[1]  6  8 10 12

In [105]:
# 벡터 길이가 다른 경우, 작은 쪽 벡터를 반복해서 더해줌
print(x + z)

[1] 4 6 6 8

In [108]:
# 두 벡터 길이가 배수관계가 아닌 경우, 순차적으로 순환하면서 연산은 되지만 warning 발생
print(x + w)

Warning message in x + w:
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1]  6  8 10  9

### all, any 함수

In [109]:
x = 1:10

In [113]:
# 벡터 안의 모든 값이 5보다 클때만 True 리턴
all(x>5)

[1] FALSE

In [114]:
# 벡터 안의 값 중 하나만 5보다 크면 True 리턴
any(x>5)

[1] TRUE

### head, tail 함수

In [117]:
# 데이터 앞, 뒤 일부 요소 추출
print(head(x))
print(tail(x))

[1] 1 2 3 4 5 6
[1]  5  6  7  8  9 10

In [118]:
print(head(x, 3))
print(tail(x, 3))

[1] 1 2 3
[1]  8  9 10

### 집합 연산

In [119]:
x = c(1,2,3)
y = c(3,4,5)
z = c(3,1,2)

In [140]:
# 교집합
print(intersect(x,y))

[1] 3

In [141]:
# 합집합
print(union(x,y))

[1] 1 2 3 4 5

In [142]:
# 차집합
print(setdiff(x,y))
print(setdiff(y,x))

[1] 1 2
[1] 4 5

In [143]:
# 집합 비교 연산
print(setequal(x,y))
print(setequal(x,z))

[1] FALSE
[1] TRUE

# 배열

## 배열 생성 함수

### array 함수 : N차원 배열 생성

In [149]:
# 2행4열의 배열을 열부터 채움, 반복적으로 채움
x = array(1:5, c(2,4))
x

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    2
[2,] 2    4    1    3

In [153]:
# 1행 전체
print(x[1,])

[1] 1 3 5 2

In [155]:
# 2열 전체
print(x[,2])

[1] 3 4

### matrix 함수 : 2차원 배열 생성

In [156]:
x = 1:12
print(x)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [162]:
# 3행 데이터를 열부터 채워서 생성
matrix(x, nrow=3)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [163]:
# byrow=T이면 행부터 먼저 채움
matrix(x, nrow=3, byrow=T)

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

### cbind, rbind 함수 : 열, 행 단위로 묶어 배열 생성

In [172]:
v1 = c(1,2,3,4)
v2 = c(5,6,7,8)
v3 = c(9,10,11,12)

In [173]:
# 열단위 concat
cbind(v1,v2,v3)

     v1 v2 v3
[1,] 1  5   9
[2,] 2  6  10
[3,] 3  7  11
[4,] 4  8  12

In [187]:
# 행단위 concat
rbind(v1,v2,v3)

   [,1] [,2] [,3] [,4]
v1 1     2    3    4
v2 5     6    7    8
v3 9    10   11   12

## 배열 연산

In [188]:
x = array(1:4, dim=c(2,2))
y = array(5:8, dim=c(2,2))

In [189]:
x

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [190]:
y

     [,1] [,2]
[1,] 5    7
[2,] 6    8

In [192]:
# 요소 합
x + y

     [,1] [,2]
[1,] 6    10
[2,] 8    12

In [193]:
# 요소 차
x - y

     [,1] [,2]
[1,] -4   -4
[2,] -4   -4

In [194]:
# 요소 곱
x * y

     [,1] [,2]
[1,]  5   21
[2,] 12   32

In [195]:
# 행렬 곱
x %*% y

     [,1] [,2]
[1,] 23   31
[2,] 34   46

In [196]:
# Transpose
t(x)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

In [197]:
# 역행렬
solve(x)

     [,1] [,2]
[1,] -2    1.5
[2,]  1   -0.5

In [198]:
# determinant
det(x)

[1] -2

###  유용한 함수

#### apply 함수 : 배열의 행별 또는 열별 연산

In [205]:
x = array(1:12, c(3,4))
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [206]:
# 열별 평균
print(apply(x, 1, mean))

[1] 5.5 6.5 7.5

In [207]:
# 행별 평균
print(apply(x, 2, mean))

[1]  2  5  8 11

#### dim함수 : 배열의 크기 (차원의 수)

In [211]:
# 3행 4열
print(dim(x))

[1] 3 4

#### sample 함수

In [212]:
x = array(1:12, c(3,4))

In [215]:
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [220]:
# x 배열 안에 있는 값을 무작위 sampling
print(sample(x))

 [1]  3  2  6  9  1 11  8  5  7  4 10 12

In [221]:
# x 배열 안에서 10개 sampling
print(sample(x,10))

 [1]  1  3  9  7  8  5  6  4 10 12

In [256]:
mean(sample(x,10))

[1] 6.5

In [257]:
# 각 요소에 대한 확률을 벡터 형태로 전달한다. 아래 경우 높은 숫자일수록 등장할 확률이 높아진다.
mean(sample(x,10,prob=c(1:12)/24))

[1] 7.2

In [222]:
# 1~10까지 수에 대한 샘플
print(sample(10))

 [1]  5  9 10  8  6  2  4  3  1  7

# 데이터프레임

## 데이터 프레임 생성

In [231]:
name = c("철수", "춘향", "길동")
age = c(22, 20, 25)
gender = factor(c("M","F","M"))
blood.type = factor(c("A","O","B"))

In [268]:
partients = data.frame(name, age, gender, blood.type)

In [269]:
partients

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

##  데이터프레임 요소 접근

In [270]:
print(partients[1,])

  name age gender blood.type
1 철수  22      M          A

In [271]:
print(partients[,1])

[1] 철수 춘향 길동
Levels: 길동 철수 춘향

In [272]:
print(partients[3,1])

[1] 길동
Levels: 길동 철수 춘향

In [275]:
print(partients[partients$name=="철수",])

  name age gender blood.type
1 철수  22      M          A

In [276]:
print(partients[partients$name=="철수", c("name", "age")])

  name age
1 철수  22

## 유용한 함수

### subset

In [7]:
# subset : 조건에 맞는 행만 출력
subset(cars, speed > 20)

   speed dist
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [8]:
# select : 열선택
subset(cars, speed > 20, select = c(dist))

   dist
44  66
45  54
46  70
47  92
48  93
49 120
50  85

In [9]:
# select - : 해당 열 제외하고 select
subset(cars, speed > 20, select = -c(dist))

   speed
44 22
45 23
46 24
47 24
48 24
49 24
50 25

### omit

In [14]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [17]:
# omit : NA가 포함된 행 삭제
head(na.omit(airquality))

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

### merge

In [21]:
name = c("철수", "춘향", "길동")
age = c(22,20,25)
gender = factor(c("M","F","M"))
blood.type = factor(c("A","O","B"))

In [22]:
patients1 = data.frame(name, age, gender)
patients1

  name age gender
1 철수 22  M
2 춘향 20  F
3 길동 25  M

In [23]:
patients2 = data.frame(name, blood.type)
patients2

  name blood.type
1 철수 A
2 춘향 O
3 길동 B

In [36]:
merge(patients1, patients2, by="name")

  name age gender blood.type
1 길동 25  M      B
2 철수 22  M      A
3 춘향 20  F      O

# 리스트

## 리스트 생성

In [42]:
patients = data.frame(name = c("철수","춘향","길동"),
                      age = c(22, 20, 25),
                      gender = factor(c("M","F","M")),
                      blood.type = factor(c("A","O","B"))
                      )

In [45]:
no.patients = data.frame(day=c(1:6), no=c(50,60,55,52,65,58))
no.patients

  day no
1 1   50
2 2   60
3 3   55
4 4   52
5 5   65
6 6   58

In [51]:
# 두 데이터 프레임을 리스트 형태로 나열하여 저장
listPatients = list(patients, no.patients)
listPatients

[[1]]
  name age gender blood.type
1 철수  22      M          A
2 춘향  20      F          O
3 길동  25      M          B

[[2]]
  day no
1   1 50
2   2 60
3   3 55
4   4 52
5   5 65
6   6 58

In [52]:
# 각 데이터 프레임에 이름 부여 list(이름 = 프레임, 이름 = 프레임, ... ) 형태
listPatients = list(patients=patients, no.patients=no.patients)
listPatients

$patients
  name age gender blood.type
1 철수  22      M          A
2 춘향  20      F          O
3 길동  25      M          B

$no.patients
  day no
1   1 50
2   2 60
3   3 55
4   4 52
5   5 65
6   6 58

## 요소 불러오기

In [54]:
# 요소 불러오기 : $
listPatients$patients

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [64]:
# 요소 불러오기 : 숫자로 인덱싱
listPatients[[1]]

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [63]:
# 요소 불러오기 : 이름으로 인덱싱
listPatients[["patients"]]

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

## apply 연산 (lapply, sapply)

In [70]:
# 데이터 프레임에 대한 열별 평균
lapply(listPatients$no.patients, mean)

$day
[1] 3.5

$no
[1] 56.66667

In [71]:
sapply(no.patients, mean)

     day       no
 3.50000 56.66667

In [74]:
# sapply simplify=F로 주면 lapply와 동일
sapply(no.patients, mean, simplify=F)

$day
[1] 3.5

$no
[1] 56.66667

# 파일 읽기, 쓰기

## 읽기

In [85]:
students = read.csv('./Source/students.csv')

In [89]:
students$name = as.character(students$name)

In [131]:
str(students)

'data.frame':	5 obs. of  4 variables:
 $ name   : chr  "강서준" "김도형" "박정원" "이상훈" ...
 $ korean : int  100 90 90 100 85
 $ english: int  90 100 95 85 100
 $ math   : int  100 80 90 95 100

## 쓰기

In [116]:
write.csv(students, file="./Source/output.csv")

In [135]:
# 원본 파일의 형태에 관계 없이 다양한 형태로 저장할 수 있다.
write.table(students, file="./Source/output.txt")

readr 라이브러리를 사용해서 할 수도 있음

write_csv, write_table 형식

# 조건문

## vector에 대한 조건 연산

In [140]:
test = c(15,20,30, NA, 45)

In [141]:
test[test < 40]

[1] 15 20 30 NA

In [143]:
test[test %% 3 != 0]

[1] 20 NA

In [144]:
test[is.na(test)]

[1] NA

In [145]:
test[!is.na(test)]

[1] 15 20 30 45

In [148]:
# test %% 2 == 0 만 조건으로 주면 NA도 함께 출력
test[test %% 2 == 0 & !is.na(test)]

[1] 20 30

## 데이터 프레임에 대한 조건 연산

In [149]:
charactors = data.frame(name = c("길동", "춘향", "철수"), age = c(30, 16, 21), gender = factor(c("M","F","M")))

In [152]:
charactors

  name age gender
1 길동 30  M
2 춘향 16  F
3 철수 21  M

In [155]:
charactors[charactors$gender == "F",]

  name age gender
2 춘향 16  F

In [157]:
charactors[charactors$age < 30 & charactors$gender == "M",]

  name age gender
3 철수 21  M

## if문 사용

In [160]:
x = 5
if(x %% 2 == 0) {
    print("x는 짝수")
    } else {
    print("x는 홀수")
    }

[1] "x는 홀수"

In [162]:
x = -1
if(x > 0){
    print('x is a positive value.')
    } else if(x < 0) {
    print('x is a negative value.')
    } else {
    print('x is  zero.')
}

[1] "x is a negative value."

### ifelse 함수

In [171]:
# ifelse(조건, 참, 거짓)
x = c(-5:5)

# 유효 자릿수 3자리로 설정
options(digits=3)

# x가 0보다 클때만 sqrt 적용하고 아니면 NA
sqrt(ifelse(x >= 0, x, NA))

 [1]   NA   NA   NA   NA   NA 0.00 1.00 1.41 1.73 2.00 2.24